@tailwind base;
@tailwind components;
@tailwind utilities;

.login-bg {
    background: url("../images/sean-pollock-PhYq704ffdA-unsplash.jpg");
    background-repeat: no-repeat;
  background-size: 100% 100%;
}
